@media only screen and (max-width: 640px) {
    .flex-content {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    #carrer-timeline {
        flex-direction: column;
        align-items: center;
    }

    #carrer-timeline ol {
        margin-right: 0;
    }
    
    #carrer-timeline ol:last-child {
        margin-left: 0;
    }
      
}

@keyframes custom-spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}

.animate-custom-spin:not(:hover) {
    animation: custom-spin 4s linear infinite; /* Adjust the animation duration as needed */
}